.TodoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 50rem;
    padding: .2rem 0;
    transition: .2s;
}

.TodoRow:hover {
    background-color: #3d3d3d38;
    // border-bottom: 1px solid #3d3d3d ;
    // border-top: 1px solid #3d3d3d ;
}

.todo-row-item-wrapper {
    display: flex;
}

.todo-row-item {
    width: 100%;
    // display: flex;
    // justify-content: space-around;
}

.todo-row-item-menu {
    & button {
        width: 100%;
    }
}