.TodoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 1rem;
    transition: .2s;
}

.TodoRow:hover {
    background-color: #3d3d3d38;
}

.todo-row-item-wrapper {
    display: flex;
}

.todo-row-item {
    width: 100%;
}

.todo-row-item-menu {
    & button {
        width: 100%;
    }
}