.MyTableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    width: 100%;
    padding: .2rem 0;
    transition: .2s;

    & :not(:last-child) {
        border-right: 1px solid rgba(175, 175, 175, 0.438) ;
    }
}

.todo-row-item-wrapper {
    width: 100%;
}